body {
  background-color: #282c34;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.textArea{
  display:flex;
}

#root{
  width: 100%;
}

textarea {
  min-height: 25vh;
  min-width: 100%;
  padding-top:2%;
  padding-bottom:2%;
  font-size: 16px !important;
  border-radius: 10px;
  border: none;
  border-collapse: collapse;
  resize: none;
  margin:0 auto
}

.App {
  width: 70%;
  margin:0 auto;
}

.flex {
  display: flex;
}

.generatedText {
  width: 100%;
  margin-bottom: 2vh;
  line-height: 30px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.entryText{
  padding:2%
}

.newText {
  min-width: 100vh;
}

.newText button {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 2vh;
  min-width: 25%;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
  margin-bottom: 15px;
  background-color: #333;
  color: #fff
}

.newText button:hover {
  border: 1px solid #eee;
  cursor: pointer
}

.result {
  display: inline-grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin: auto;
  background-color: #0d88a4;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: morphing 10s infinite;
  overflow: hidden;
}

.result ul {
  display: block
}

.result ul li {
  display: inline;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.result div.message {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.result div.retest {
  text-align: center;
  margin-top: 20px;
}

.result div.retest button {
  text-align: center;
  font-size: 20px;
  background: #333;
  color: #fff;
  border: 0px;
  padding: 15px;
  cursor: pointer;
}

.result div.retest button:first-child {
  margin-right: 10px;
}

.YourId {
  text-align: center;
  padding: 15px;
  background: #0d88a4;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 5px;
}

.YourId div {
  letter-spacing: normal;
  font-size: 20px;
  margin-bottom: 15px;
}

.menu ul {
  padding-bottom: 30px;
}

.menu li {
  display: inline;
  margin: 0 auto;
  float: right;
  margin-left:20px
}

.menu li a {
  text-decoration: none;
  color: #fff;
  background-color: #0d88a4;
  padding: 10px;
  border-radius: 5px;
}

.menu li a:hover {
  color: #0d88a4;
  background-color: #282c34;
  border: 1px solid #ccc
}

.enterId {
  display: block;
  border: 1px solid #0d88a4;
  width: 70%;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-transform: full-width;
  text-align: center;
}

.enterId::placeholder {
  font-size: 18px;
  text-transform: none;
  text-align: center;
}

.search {
  display: block;
  border: 1px solid #0d88a4;
  width: 30%;
  height: 50px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px
}

.get_id .container {
  display: block
}

.score_result {
  border: 1px solid #0d88a4;
  height: 60px;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  text-align: center;
  word-spacing: 10px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-moz-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-o-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

.lds-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
